@namespace RichTextBlazorfied

<div id="@($"{id}_Toolbar")" class="rich-text-box-tool-bar">
    @if (_font == true)
    {
        <div class="rich-text-box-dropdown">
            <button id="blazing-rich-text-font-button" title="Font" @onclick='() => OpenDropdown("blazing-rich-text-font-button-dropdown")' class="rich-text-box-menu-item rich-text-box-font-button" disabled="@IsDisabled">
                Font &#x25BC;
            </button>
            <div id="blazing-rich-text-font-button-dropdown" class="rich-text-box-dropdown-content rich-text-box-font-content rich-text-box-scroll">
                @foreach (var font in Fonts)
                {
                    <a class="rich-text-box-menu-item" style="font-family: @font; cursor: pointer" @onclick='() => Font(font)'>@font</a>
                }
            </div>
        </div>
    }
    @if (_size == true)
    {
        <div class="rich-text-box-dropdown">
            <button id="blazing-rich-text-size-button" title="Size" @onclick='() => OpenDropdown("blazing-rich-text-size-button-dropdown")' class="rich-text-box-menu-item rich-text-box-size-button" disabled="@IsDisabled">
                Size &#x25BC;
            </button>
            <div id="blazing-rich-text-size-button-dropdown" class="rich-text-box-dropdown-content rich-text-box-size-content rich-text-box-scroll">
                @foreach (var size in Sizes)
                {
                    <a class="rich-text-box-menu-item" style="cursor: pointer" @onclick='() => Size(size)'>@size</a>
                }
            </div>
        </div>
    }    
    @if (_format == true)
    {
        <div class="rich-text-box-dropdown">
            <button id="blazing-rich-text-format-button" title="Format" @onclick='() => OpenDropdown("blazing-rich-text-format-button-dropdown")' class="rich-text-box-menu-item rich-text-box-format-button" disabled="@IsDisabled">
                Format &#x25BC;
            </button>
            <div id="blazing-rich-text-format-button-dropdown" class="rich-text-box-dropdown-content rich-text-box-format-content rich-text-box-scroll">
                <a class="rich-text-box-menu-item" style="cursor: pointer" @onclick='() => FormatText("none")'>None</a>
                <a class="rich-text-box-menu-item" style="cursor: pointer" @onclick='() => FormatText("p")'>Paragraph</a>
                <a class="rich-text-box-menu-item" style="cursor: pointer" @onclick='() => FormatText("h1")'>Header 1</a>
                <a class="rich-text-box-menu-item" style="cursor: pointer" @onclick='() => FormatText("h2")'>Header 2</a>
                <a class="rich-text-box-menu-item" style="cursor: pointer" @onclick='() => FormatText("h3")'>Header 3</a>
                <a class="rich-text-box-menu-item" style="cursor: pointer" @onclick='() => FormatText("h4")'>Header 4</a>
                <a class="rich-text-box-menu-item" style="cursor: pointer" @onclick='() => FormatText("h5")'>Header 5</a>
            </div>
        </div>
    }
    @if (_textstylesdivider == true)
    {
        <button class="rich-text-box-divider-btn" disabled>
            <div class="rich-text-box-divider"></div>
        </button>
    }
    @if (_bold == true)
    {
        <button id="blazing-rich-text-bold-button" title="Bold" class="rich-text-box-menu-item" @onclick="Bold" disabled="@IsDisabled">
            <svg xmlns="http://www.w3.org/2000/svg" width="@_buttonTextSize" height="@_buttonTextSize" fill="@_buttonTextColor" viewBox="0 -960 960 960">
                <path d="@Icons.Bold" />
            </svg>
        </button>
    }
    @if (_italic == true)
    {
        <button id="blazing-rich-text-italic-button" title="Italic" class="rich-text-box-menu-item" @onclick="Italic" disabled="@IsDisabled">
            <svg xmlns="http://www.w3.org/2000/svg" height="@_buttonTextSize" width="@_buttonTextSize" fill="@_buttonTextColor" viewBox="0 -960 960 960">
                <path d="@Icons.Italic" />
            </svg>
        </button>
    }
    @if (_underline == true)
    {
        <button id="blazing-rich-text-underline-button" title="Underline" class="rich-text-box-menu-item" @onclick="Underline" disabled="@IsDisabled">
            <svg xmlns="http://www.w3.org/2000/svg" height="@_buttonTextSize" width="@_buttonTextSize" fill="@_buttonTextColor" viewBox="0 -960 960 960">
                <path d="@Icons.Underline" />
            </svg>
        </button>
    }
    @if (_strikethrough == true)
    {
        <button id="blazing-rich-text-strike-button" title="Strikethrough" class="rich-text-box-menu-item" @onclick="Strikethrough" disabled="@IsDisabled">
            <svg xmlns="http://www.w3.org/2000/svg" height="@_buttonTextSize" width="@_buttonTextSize" fill="@_buttonTextColor" viewBox="0 -960 960 960">
                <path d="@Icons.Strikethrough" />
            </svg>
        </button>
    }
    @if (_subscript == true)
    {
        <button id="blazing-rich-text-sub-button" title="Subscript" class="rich-text-box-menu-item" @onclick="Subscript" disabled="@IsDisabled">
            <svg xmlns="http://www.w3.org/2000/svg" height="@_buttonTextSize" width="@_buttonTextSize" fill="@_buttonTextColor" viewBox="0 -960 960 960">
                <path d="@Icons.Subscript" />
            </svg>
        </button>
    }
    @if (_superscript == true)
    {
        <button id="blazing-rich-text-super-button" title="Superscript" class="rich-text-box-menu-item" @onclick="Superscript" disabled="@IsDisabled">
            <svg xmlns="http://www.w3.org/2000/svg" height="@_buttonTextSize" width="@_buttonTextSize" fill="@_buttonTextColor" viewBox="0 -960 960 960">
                <path d="@Icons.Superscript" />
            </svg>
        </button>
    }

    @if (_formatdivider == true)
    {
        <button class="rich-text-box-divider-btn" disabled>
            <div class="rich-text-box-divider"></div>
        </button>
    }

    @if (_alignleft == true)
    {
        <button id="blazing-rich-text-alignleft-button" title="Align Left" class="rich-text-box-menu-item" @onclick="Alignleft" disabled="@IsDisabled">
            <svg xmlns="http://www.w3.org/2000/svg" height="@_buttonTextSize" width="@_buttonTextSize" fill="@_buttonTextColor" viewBox="0 -960 960 960">
                <path d="@Icons.Alignleft" />
            </svg>
        </button>
    }
    @if (_aligncenter == true)
    {
        <button id="blazing-rich-text-aligncenter-button" title="Align Center" class="rich-text-box-menu-item" @onclick="Aligncenter" disabled="@IsDisabled">
            <svg xmlns="http://www.w3.org/2000/svg" height="@_buttonTextSize" width="@_buttonTextSize" fill="@_buttonTextColor" viewBox="0 -960 960 960">
                <path d="@Icons.Aligncenter" />
            </svg>
        </button>
    }
    @if (_alignright == true)
    {
        <button id="blazing-rich-text-alignright-button" title="Align Right" class="rich-text-box-menu-item" @onclick="Alignright" disabled="@IsDisabled">
            <svg xmlns="http://www.w3.org/2000/svg" height="@_buttonTextSize" width="@_buttonTextSize" fill="@_buttonTextColor" viewBox="0 -960 960 960">
                <path d="@Icons.Alignright" />
            </svg>
        </button>
    }
    @if (_alignjustify == true)
    {
        <button id="blazing-rich-text-alignjustify-button" title="Align Justify" class="rich-text-box-menu-item" @onclick="Alignjustify" disabled="@IsDisabled">
            <svg xmlns="http://www.w3.org/2000/svg" height="@_buttonTextSize" width="@_buttonTextSize" fill="@_buttonTextColor" viewBox="0 -960 960 960">
                <path d="@Icons.Alignjustify" />
            </svg>
        </button>
    }
   @*  @if (_indent == true)
    {
        <button id="blazing-rich-text-indent-button" title="Indent" class="rich-text-box-menu-item" @onclick="Indent" disabled="@IsDisabled">
            <svg xmlns="http://www.w3.org/2000/svg" height="@_buttonTextSize" viewBox="0 -960 960 960" width="@_buttonTextSize" fill="@_buttonTextColor">
                <path d="@Icons.Indent" />
            </svg>
        </button>
    } *@
    @if (_aligndivider == true)
    {
        <button class="rich-text-box-divider-btn" disabled>
            <div class="rich-text-box-divider"></div>
        </button>
    }

    @if (_copy == true)
    {
        <button id="blazing-rich-text-copy-button" title="Copy" class="rich-text-box-menu-item" @onclick="Copy" disabled="@IsDisabled">
            <svg xmlns="http://www.w3.org/2000/svg" height="@_buttonTextSize" width="@_buttonTextSize" fill="@_buttonTextColor" viewBox="0 -960 960 960">
                <path d="@Icons.Copy" />
            </svg>
        </button>
    }
    @if (_cut == true)
    {
        <button id="blazing-rich-text-cut-button" title="Cut" class="rich-text-box-menu-item" @onclick="Cut" disabled="@IsDisabled">
            <svg xmlns="http://www.w3.org/2000/svg" height="@_buttonTextSize" width="@_buttonTextSize" fill="@_buttonTextColor" viewBox="0 -960 960 960">
                <path d="@Icons.Cut" />
            </svg>
        </button>
    }
    @if (_delete == true)
    {
        <button id="blazing-rich-text-delete-button" title="Delete" class="rich-text-box-menu-item" @onclick="Delete" disabled="@IsDisabled">
            <svg xmlns="http://www.w3.org/2000/svg" height="@_buttonTextSize" width="@_buttonTextSize" fill="@_buttonTextColor" viewBox="0 -960 960 960">
                <path d="@Icons.Delete" />
            </svg>
        </button>
    }
    @if (_selectall == true)
    {
        <button id="blazing-rich-text-selectall-button" title="Select All" class="rich-text-box-menu-item" @onclick="Selectall" disabled="@IsDisabled">
            <svg xmlns="http://www.w3.org/2000/svg" height="@_buttonTextSize" width="@_buttonTextSize" fill="@_buttonTextColor" viewBox="0 -960 960 960">
                <path d="@Icons.Selectall" />
            </svg>
        </button>
    }
    @if (_actiondivider == true)
    {
        <button class="rich-text-box-divider-btn" disabled>
            <div class="rich-text-box-divider"></div>
        </button>
    }

    @if (_orderedlist == true)
    {
        <button id="blazing-rich-text-orderedlist-button" title="Ordered List" class="rich-text-box-menu-item" @onclick="OrderedList" disabled="@IsDisabled">
            <svg xmlns="http://www.w3.org/2000/svg" height="@_buttonTextSize" width="@_buttonTextSize" fill="@_buttonTextColor" viewBox="0 -960 960 960">
                <path d="@Icons.OrderedList" />
            </svg>
        </button>
    }
    @if (_unorderedlist == true)
    {
        <button id="blazing-rich-text-unorderedlist-button" title="Unordered List" class="rich-text-box-menu-item" @onclick="UnorderedList" disabled="@IsDisabled">
            <svg xmlns="http://www.w3.org/2000/svg" height="@_buttonTextSize" viewBox="0 -960 960 960" width="@_buttonTextSize" fill="@_buttonTextColor">
                <path d="@Icons.UnorderedList" />
            </svg>
        </button>
    }
    @if (_listdivider == true)
    {
        <button class="rich-text-box-divider-btn" disabled>
            <div class="rich-text-box-divider"></div>
        </button>
    }
    

    @if (_link == true)
    {
        <button id="blazing-rich-text-link-button" title="Insert Link" class="rich-text-box-menu-item" @onclick="OpenLinkDialog" disabled="@IsDisabled">
            <svg xmlns="http://www.w3.org/2000/svg" height="@_buttonTextSize" width="@_buttonTextSize" fill="@_buttonTextColor" viewBox="0 -960 960 960">
                <path d="@Icons.CreateLink" />
            </svg>
        </button>
    }
    @if (_link == true)
    {
        <button id="blazing-rich-text-remove-link-button" title="Remove Link" class="rich-text-box-menu-item" @onclick="RemoveLink" disabled="@IsDisabled">
            <svg xmlns="http://www.w3.org/2000/svg" height="@_buttonTextSize" width="@_buttonTextSize" fill="@_buttonTextColor" viewBox="0 -960 960 960">
                <path d="@Icons.RemoveLink" />
            </svg>
        </button>
    }
    @if (_image == true)
    {
        <button id="blazing-rich-text-link-button" title="Insert Image" class="rich-text-box-menu-item" @onclick="OpenImageDialog" disabled="@IsDisabled">
            <svg xmlns="http://www.w3.org/2000/svg" height="@_buttonTextSize" width="@_buttonTextSize" fill="@_buttonTextColor" viewBox="0 -960 960 960">
                <path d="@Icons.Image" />
            </svg>
        </button>
    }
    @* <div class="blazing-rich-text-color-picker-container rich-text-box-menu-item">
        <button id="blazing-rich-text-textcolor-button" title="Text Color" disabled="@IsDisabled" @onclick="OpenTextColorPicker">
            <svg xmlns="http://www.w3.org/2000/svg" height="@_buttonTextSize" viewBox="0 -960 960 960" width="@_buttonTextSize" fill="@_buttonTextColor">
                <path d="@Icons.TextColor" />
            </svg>
        </button>
        <div class="blazing-rich-text-color-picker-dropdown" id="blazing-rich-text-textcolor-dropdown">
            <div class="blazing-rich-text-color-option" @onclick='() => SelectTextColor("#000000")' style="background-color: #000000;" data-color="#000000"></div>
            <div class="blazing-rich-text-color-option" @onclick='() => SelectTextColor("#757070")' style="background-color: #757070;" data-color="#757070"></div>
            <div class="blazing-rich-text-color-option" @onclick='() => SelectTextColor("#FF0000")' style="background-color: #FF0000;" data-color="#FF0000"></div>
            <div class="blazing-rich-text-color-option" @onclick='() => SelectTextColor("#C00000")' style="background-color: #C00000;" data-color="#C00000"></div>
            <div class="blazing-rich-text-color-option" @onclick='() => SelectTextColor("#ffc000")' style="background-color: #ffc000;" data-color="#ffc000"></div>
            <div class="blazing-rich-text-color-option" @onclick='() => SelectTextColor("#92d050")' style="background-color: #92d050;" data-color="#92d050"></div>
            <div class="blazing-rich-text-color-option" @onclick='() => SelectTextColor("#00b050")' style="background-color: #00b050;" data-color="#00b050"></div>
            <div class="blazing-rich-text-color-option" @onclick='() => SelectTextColor("#00b0f0")' style="background-color: #00b0f0;" data-color="#00b0f0"></div>
            <div class="blazing-rich-text-color-option" @onclick='() => SelectTextColor("#0070c0")' style="background-color: #0070c0;" data-color="#0070c0"></div>
            <div class="blazing-rich-text-color-option" @onclick='() => SelectTextColor("#002060")' style="background-color: #002060;" data-color="#002060"></div>
            <div class="blazing-rich-text-color-option" @onclick='() => SelectTextColor("#7030a0")' style="background-color: #7030a0;" data-color="#7030a0"></div>
        </div>
    </div> *@
    @if (_linkdivider == true)
    {
        <button class="rich-text-box-divider-btn" disabled>
            <div class="rich-text-box-divider"></div>
        </button>
    }
    @if (_undo == true)
    {
        <button id="blazing-rich-text-undo-button" title="Undo" class="rich-text-box-menu-item" @onclick="Undo" disabled="@IsDisabled">
            <svg xmlns="http://www.w3.org/2000/svg" height="@_buttonTextSize" width="@_buttonTextSize" fill="@_buttonTextColor" viewBox="0 -960 960 960">
                <path d="@Icons.Undo" />
            </svg>
        </button>
    }
    @if (_redo == true)
    {
        <button id="blazing-rich-text-redo-button" title="Redo" class="rich-text-box-menu-item" @onclick="Redo" disabled="@IsDisabled">
            <svg xmlns="http://www.w3.org/2000/svg" height="@_buttonTextSize" width="@_buttonTextSize" fill="@_buttonTextColor" viewBox="0 -960 960 960">
                <path d="@Icons.Redo" />
            </svg>
        </button>
    }
    @if (_historydivider == true)
    {
        <button class="rich-text-box-divider-btn" disabled>
            <div class="rich-text-box-divider"></div>
        </button>
    }
    
    <button id="blazing-rich-text-source" title="Html Code" class="@OpenCodeStyles" @onclick="OpenCode">
        <svg xmlns="http://www.w3.org/2000/svg" height="@_buttonTextSize" width="@_buttonTextSize" fill="@_buttonTextColor" viewBox="0 -960 960 960">
            <path d="@Icons.Code" />
        </svg>
    </button>

    <!-- Modals -->
    <div id="rich-text-box-image-modal" class="rich-text-box-modal">
        <div class="rich-text-box-modal-content">
            <div class="rich-text-box-modal-body">
                <div style="display: flex; flex-direction: row; justify-content: space-between;">
                    <div style="align-self: flex-start; margin-left: 10px;">
                        <h2>Image</h2>
                    </div>
                    <div style="align-self: flex-start; margin: 15px 10px 0 0;">
                        <span @onclick="CloseImageDialog" class="rich-text-box-modal-close">&times;</span>
                    </div>
                </div>
                <div style="padding: 10px;">
                    <label for="webaddress">Web Address</label>
                    <input type="text" id="rich-text-box-image-webaddress" name="webaddress" placeholder="https://www...">
                    <label for="imagewidth">Image Width</label>
                    <input type="text" id="rich-text-box-image-width" name="imagewidth">
                    <label for="imageheight">Image Height</label>
                    <input type="text" id="rich-text-box-image-height" name="imageheight">
                    <label for="alttext">Alternative Text</label>
                    <input type="text" id="rich-text-box-image-alt-text" name="alttext">
                    <div style="margin-top: 20px; text-align: right;">
                        <button @onclick="CloseImageDialog" class="rich-text-box-form-button">Close</button>
                        <button @onclick="InsertImage" class="rich-text-box-form-button">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="rich-text-box-link-modal" class="rich-text-box-modal">
        <div class="rich-text-box-modal-content">
            <div class="rich-text-box-modal-body">
                <div style="display: flex; flex-direction: row; justify-content: space-between;">
                    <div style="align-self: flex-start; margin-left: 10px;">
                        <h2>Link</h2>
                    </div>
                    <div style="align-self: flex-start; margin: 15px 10px 0 0;">
                        <span @onclick="CloseLinkDialog" class="rich-text-box-modal-close">&times;</span>
                    </div>
                </div>
                <div style="padding: 10px;">
                    <label for="webaddress">Web Address</label>
                    <input type="text" id="rich-text-box-link-webaddress" name="webaddress" placeholder="https://www...">
                    <label for="linktext">Link Text</label>
                    <input type="text" id="rich-text-box-linktext" name="linktext">
                    <label style="display: flex; align-items: center;">
                        <input id="rich-text-box-link-modal-newtab" type="checkbox" name="opentab" />
                        Open in New Tab
                    </label>
                    <div style="margin-top: 20px; text-align: right;">
                        <button @onclick="CloseLinkDialog" class="rich-text-box-form-button">Close</button>
                        <button @onclick="InsertLink" class="rich-text-box-form-button">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="@($"{id}_Shadow")"></div>