@namespace RichTextBlazorfied.Components

<button id="@Id" title="@Title" class="rich-text-box-menu-item" @onclick="@OnClick" disabled="@IsDisabled">
    <svg xmlns="http://www.w3.org/2000/svg" width="@TextSize" height="@TextSize" fill="@TextColor" viewBox="0 -960 960 960">
        <path d="@Icon" />
    </svg>
</button>
